<html>
<head>
  <title>$i18n.getText("ru.matveev.alexey.jira.frontend.title")</title>
  $webResourceManager.requireResource("ru.matveev.alexey.task1:task1-resources")
  <meta name="decorator" content="atl.admin" />
  <meta name="admin.active.section" content="admin_plugins_menu/my-section/my-web-item"/>
</head>
<body>

#foreach ($key in $errors.keySet())
<p style="color:red"> Error value $key $errors.get($key)</p>

#end
<form class="aui" method="POST" action="MyWebworkAction!save.jspa">
    <div class="field-group">
        <label for="parameter1">$i18n.getText("ru.matveev.alexey.jira.my.item.paramater1")
            <span class="aui-icon icon-required">(required)</span></label>
        <input class="text medium-field" type="text"
               id="parameter1" name="parameter1" placeholder=$i18n.getText("ru.matveev.alexey.jira.my.item.paramater1") value="$!{parameter1}">
        <div class="description">$i18n.getText("ru.matveev.alexey.jira.my.item.paramater1")</div>
    </div>
     <div class="field-group">
            <label for="parameter2">$i18n.getText("ru.matveev.alexey.jira.my.item.paramater2")
                <span class="aui-icon icon-required">(required)</span></label>
            <input class="text medium-field" type="text"
                   id="parameter2" name="parameter2" placeholder="parameter2"  value="$!{parameter2}"
                   data-aui-validation-field data-aui-validation-positiveinteger
                   >
            <div class="description">This is a value for parameter2</div>
     </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value=$i18n.getText("ru.matveev.alexey.jira.frontend.button.save") id="comment-save-button">
            <input class="button submit" type="submit" value=Clear id="comment-clear-button" formaction="MyWebworkAction!clear.jspa">
        </div>
    </div>
</form>
</body>
</html>